#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : 26pt;
    Text-align : right;
Color : #663366;
}
#darabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : 24pt;
    Text-align : right;
Color : #663366;
}