#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : x-large;
    Color : blue;
    Padding-top : 0.5em;
    Text-align : right;
}
#keterangan
{
    Font-size : small;
    Color : white;
    Background-color : #009999;
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : small;
}

#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
    Color : blue;
Font-size : medium;
}
#isi
{
    Font-variant : normal;
    Font-weight : bold;
    Font-size : medium;
    Color : rgb(0 , 51 , 0);
    Text-align : left;
    Margin-top : 0.5cm;
    Margin-bottom : 0.5cm;
}
#header
{
}
#subjudul
{
    font-weight : 500;
    font-size : small;
    Text-align : left;
    Margin-top : 0.3cm;
    Color: #336669;
}
#judul
{
    font-style : normal;
    font-weight : 500;
    font-size : large;
    Text-align : left;
    Font-variant : small-caps;
    Color: #336669;
}
body
{
    Background-image : url("body.gif");
    Background-position : top left;
    Background-repeat : repeat-y;
    color : rgb(85 , 87 , 83);
    font-family : Arial;
}
#container
{
    padding : 0px 10px 0px 20px;
    font-style : normal;
    font-variant : normal;
    Text-align : left;
}
#penulis
{
    font-weight : 500;
    font-size : small;
    Text-align : left;
    Color : rgb(0 , 0 , 153);
    Margin-top : 0.5cm;
}
#copyright
{
    color : gray;
    font-style : normal;
    font-size : small;
    Text-align : right;
    Text-indent : 1em;
    Font-variant : normal;
}
#subbab1
{
    Color : rgb(0 , 0 , 153);
    font-size : large;
}
#subbab2
{
    Color : rgb(0 , 0 , 153);
    font-size : medium;
    font-style : italic;
}
