#transliteration
{
    Color : maroon;
    Margin-top : 0.5cm;
    Font-style : italic;
    Font-size : small;
}
#titleatbottom{
    Font-size : small;
    Padding-top : 0.5cm;
    Color : black;
    Text-align : right
}
body
{
    Font-family : Arial;
    Background-image : url("body.gif");
    Background-repeat : repeat-y;
    Background-position : top left;
}
#yusuftext
{
    Font-weight : 420;
    Font-size : medium;
    Padding-top : 0.5cm;
    Color : black;
}
#khantext
{
    Font-size : medium;
    Font-weight : 420;
    Padding-top : 0.5cm;
    Color : black;
}
#yusuftitle
{
    Padding-top : 1cm;
    Font-size : large;
    Color : blue;
    Text-indent : 0em;
    Font-variant : small-caps;
}
#khantitle
{
    Padding-top : 1cm;
    Font-size : large;
    Color : blue;
    Text-indent : 0em;
    Font-variant : small-caps;
}
#title
{
    Text-align : right;
    Font-size : large;
}
#footnotenumber
{
    Font-size : small;
    Color : maroon;
    Vertical-align : super;
}
#footnoteline
{
    Color : black;
    Text-align : left;
    Text-indent : 0em;
    Padding-top : 1em;
}
#footnote
{
    Font-variant : small-caps;
    Font-weight : 500;
    Font-size : small;
    Text-indent : 0em;
}
#translationtext
{
    Font-weight : 420;
    Font-size : medium;
    Color : black;
    Padding-top : 0.7cm;
    Padding-bottom : 0.5cm;
    Text-align : left;
}
#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : normal;
    Font-size : xx-large;
    Color : darkblue;
    Padding-top : 1cm;
    Text-align : right;
}

#container
{
    padding : 0px 10px 0px 35px;
    font-style : normal;
    font-variant : normal;
}
#verse
{
    font-weight : 500;
    font-size : large;
    Text-align : right;
    Color : blue;
    Padding-top : 0.2cm;
}
#surah
{
    color : blue;
    font-style : normal;
    font-weight : 700;
    font-size : large;
}
#copyright
{
    color : gray;
    font-style : normal;
    font-size : x-small;
    Text-align : left;
    Text-indent : 1cm;
    Font-variant : normal;
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : small;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : medium;
}