<?xml version="1.0" encoding="UTF-8"?>
<config>
	<mainwindow>
		<alwaysontop>false</alwaysontop>
	</mainwindow>
	<recitation>
		<selected>Ghamadi_40kbps</selected>
		<online>
			<reciter>(online) Muhammad_Ayyoub_128kbps</reciter>
			<reciter>(online) Alafasy_128kbps</reciter>
			<reciter>(online) AbdulSamad_64kbps_QuranExplorer.Com</reciter>
			<reciter>(online) Abu Bakr Ash-Shaatree_128kbps</reciter>
			<reciter>(online) Ahmed_ibn_Ali_al-Ajamy_64kbps_QuranExplorer.Com</reciter>
			<reciter>(online) Ghamadi_40kbps</reciter>
			<reciter>(online) Hudhaify_128kbps</reciter>
			<reciter>(online) Husary_128kbps</reciter>
			<reciter>(online) Menshawi_32kbps</reciter>
			<reciter>(online) Saood bin Ibraaheem Ash-Shuraym_128kbps</reciter>
		</online>
		<defaultloc>http://www.versebyversequran.com/data/</defaultloc>
	</recitation>
	<browser>
		<crossPlatform>true</crossPlatform>
		<stylesheet>default</stylesheet>
		<usearabicimage>false</usearabicimage>
	</browser>
	<view>
		<tooltip>
			<textlength>100</textlength>
			<textcolor>#990000</textcolor>
			<headcolor>#3300FF</headcolor>
		</tooltip>
		<morph>
			<buckwalter>false</buckwalter>
		</morph>
		<transliterasi>true</transliterasi>
		<languages>
			<other>true</other>
			<khan>true</khan>
			<ali>true</ali>
			<arabic>true</arabic>
		</languages>
	</view>
	<search> 
		<querysize>25</querysize>
	</search>
	<others>
		<showhelp>false</showhelp> 
		<fontagawarn>false</fontagawarn> 
		<packetinstall>
			<upgradeversion>false</upgradeversion>
			<upgradeversionrun>false</upgradeversionrun> 
		</packetinstall>
		<installedotherlangcode>1000</installedotherlangcode>
		<reg>
			<first>true</first>
			<success>true</success>
		</reg>
		<defaultsearch>30012</defaultsearch> 
		<fontsizedecrease>
			<main>6</main>
			<mult>3</mult>
		</fontsizedecrease>
	</others>
</config>