#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : x-large;
    Color: maroon;
    Text-align : right;
    Padding-top : 0.5cm;
}

#keterangan
{
    Font-variant : small-caps;
    Font-size : small;
    Color : white;
    Background-color : 666600;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : medium;
    color: green;
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : small;
}

#isi
{
    Font-variant : normal;
    Font-weight : bold;
    Font-size : medium;
    Color : rgb(0 , 51 , 0);
    Text-align : left;
    Margin-top : 0.5cm;
    Margin-bottom : 0.5cm;
}
#header
{
    Text-indent : 0.5em;
}
#subjudul
{
    font-weight : 500;
    font-size : medium;
    Text-align : center;
    color : green;
    font-style : italic;
    Margin-top : 0.3cm;
}
#judul
{
    font-style : normal;
    font-weight : 500;
    font-size : large;
    Text-align : center;
    Font-variant : small-caps;
    color : green;
}
body
{
    Background-image : url("we-yellow2.jpg");
    Background-repeat : repeat-y;
    Background-position : top left;
    color : rgb(85 , 87 , 83);
    font-family : "MS Sans Serif";
}
#container
{
    padding : 0px 10px 0px 35px;
    font-style : normal;
    font-variant : normal;
    Text-align : left;
}
#penulis
{
    font-weight : 500;
    font-size : small;
    Text-align : center;
    Color : #996600;
    Margin-top : 0.5cm;
    Margin-bottom : 0.7cm;
    Background-image : url("books.gif");
    Background-position : center left;
    Background-repeat : no-repeat;
}
#copyright
{
    color : blue;
    font-style : normal;
    font-size : small;
    Text-align : left;
    Text-indent : 1em;
    Font-variant : normal;
}
#subbab1
{
    color : green;
    font-size : large;
}
#subbab2
{
    color : green;
    font-size : medium;
    font-style : italic;
}
