body
{
    font : small georgia;
    color : rgb(85 , 87 , 83);
    Background-image : url("body.jpg");
    Background-repeat : repeat-y;
    Background-position : top left;
}
#footnotenumber
{
    Font-size : small;
    Color : #006633;
}
#footnote
{
    Font-family : sans-serif;
    Font-variant : small-caps;
    Font-weight : 400;
    Font-size : small;
    Color : black;
    Padding-bottom : 0.5cm;
}
#bab
{
    Font-family : georgia;
    Font-size : small;
    Color : #cc0066;
    Font-weight : bold;
}
#kitab
{
    Font-family : georgia;
    Font-size : medium;
    Color : #cc0066;
    Font-weight : bold;
    Padding-top : 0.5cm;
}
#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : x-large;
    Color : black;
    Padding-top : 0.5cm;
    Text-align : right;
    Text-indent : 1em;
    Padding-bottom : 0.5cm;
}

#judul
{
    Text-align : center;
    Background-repeat : no-repeat;
    Background-position : top left;
    Background-color : transparent;
    color : #666600;
}
#container
{
    padding : 0px 10px 0px 20px;
    font-style : normal;
    font-variant : normal;
    font-size : 11pt;
    Font-family : georgia;
    Text-align : left;
}
#penjelasanjudul
{
    Font-size : large;
    Font-weight : bold;
    Font-variant : small-caps;
    Padding-top : 1.cm;
    Padding-bottom : 0.5cm;
    Color : black;
}
#penjelasanisi
{
    Font-size : medium;
    Color : black;
    Font-variant : normal;
    Font-style : normal;
}
#penjelasansumber
{
    Font-family : georgia;
    Font-variant : small-caps;
    Font-size : x-small;
    Color : rgb(0 , 51 , 51);
    Text-indent : 0em;
    Background-color : rgb(255 , 255 , 204);
}
#keterangan
{
    Font-size : small;
    Color : #cc0066;
    Text-indent : 0em;
    Background-color : rgb(255 , 255 , 204);
}
#matanheader
{
}
#matantail
{
    Font-family : georgia;
    Font-variant : normal;
    Font-size : small;
    Color : maroon;
    Padding-bottom : 0.5em;
    Padding-top : 0.5cm;
    Text-align : left;
}
#matanisi
{
    font-weight : 450;
    Text-align : left;
    Color: black;
    Font-size : medium;
    Text-align : left;
}
#penulis
{
    font-weight : 500;
    font-size : medium;
    Text-align : center;
    Color : green;
    Margin-bottom : 0.5cm;
}
#matan
{
    Font-variant : normal;
    Font-weight : normal;
    Color : rgb(0 , 51 , 0);
    Padding-top : 0.5cm;
    Padding-bottom : 0.8cm;
}
#kitabhadits
{
    font-style : normal;
    font-weight : 700;
    font-size : large;
    Text-align : center;
    Font-variant : small-caps;
    Color : #336600;
}
#copyright
{
    color : blue;
    font-style : normal;
    font-size : small;
    Text-align : left;
    Text-indent : 1em;
    Font-variant : normal;
    Padding-bottom : 0.8cm;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
    Color : green;
font-size : medium;
}
