
#titleatbottom{
    Font-size : small;
    Padding-top : 0.5cm;
    Color : black;
    Text-align : right
}
#transliteration
{
    Color : green;
    Margin-top : 0.5cm;
    Font-size : small;
}

#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : normal;
    Font-size : xx-large;
    Color : black;
    Padding-top : 1cm;
    Text-align : right;
}



body
{
    font : small georgia;
    color : rgb(85 , 87 , 83);
    Background-image : url("sakura.jpg");
    Background-repeat : repeat-y;
    Background-position : top left;
}
#yusuftext
{
    Font-size : medium;
    Padding-top : 0.5cm;
    Color : black;
}
#khantext
{
    Font-size : medium;
    Padding-top : 0.5cm;
    Color : black;
}
#yusuftitle
{
    Padding-top : 1cm;
    Font-size : 17pt;
    Color : maroon;
    Text-indent : 0em;
    Font-variant : small-caps;
}
#khantitle
{
    Padding-top : 1.0cm;
    Font-size : 17pt;
    Color : maroon;
    Text-indent : 0em;
    Font-variant : small-caps;
}
#footnotenumber
{
    Font-size : small;
    Color : maroon;
    Vertical-align : super;
}
#footnoteline
{
    Color : black;
    Text-align : left;
    Text-indent : 0em;
    Padding-top : 1em;
}
#footnote
{
    Font-family : sans-serif;
    Font-variant : small-caps;
    Font-weight : 400;
    Font-size : small;
    Color : rgb(0 , 0 , 0);
    Text-indent : 0em;
}
#translationtext
{
    Font-family : Arial;
    Font-variant : normal;
    Font-weight : 420;
    Font-size : medium;
    Color : green;
    Padding-top : 0.7cm;
    Text-align : left;
    Padding-bottom : 0.7cm;
}

#title
{
    /*Text-indent : 0.5em;*/
    /*Border-style : ridge;*/
	Font-size : large;
}
#container
{
    padding : 0px 10px 0px 35px;
    font-style : normal;
    font-variant : normal;
    font-size : 11pt;
    Font-family : georgia;
}
#verse
{
    font-family : "Georgia";
    font-weight : 500;
    font-size : large;
    /*Text-indent : 2em;*/
    Text-align : center;
    Color : maroon;
}
#surah
{
    font-family : "Comic Sans MS";
    color : maroon;
    font-style : normal;
    font-weight : 700;
    font-size : 22pt;
    Text-align : center;
    /*Text-indent : 1em;*/
    Font-variant : small-caps;
    Color : maroon;
}
#copyright
{
    font-family : sans-serif;
    color : blue;
    font-style : normal;
    font-size : small;
    Text-align : left;
    Text-indent : 1em;
    Font-variant : normal;
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : larger;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
Font-size : medium;
}
