#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : normal;
    Font-size : x-large;
    Color : green;
    Text-align : right;
	
}
#keterangan
{
    Font-family : georgia;
    Font-size : small;
    Color : #cc0066;
    Text-indent : 0em;
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : larger;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Color : green;
Font-size : medium;
}
#isi
{
    Font-family : "Arial";
    Font-variant : normal;
    Font-weight : 430;
    Font-size : medium;
    Color : rgb(0 , 51 , 0);
    Text-align : left;
    Margin-bottom : 0.5cm;
}
#header
{
    Text-indent : 0.5em;
}
#subjudul
{
    font-family : "Georgia";
    font-weight : 500;
    font-size : medium;
    Text-align : center;
    Font-style : italic;
    Color : #cc0066;
    Margin-top : 0.2cm;
}
#judul
{
    Text-align : center;
    color : #cc0066;
    font-weight : 500;
    font-size : large;
}
body
{
    Background-image : none;
}
#container
{
    padding : 0px 5px 0px 10px;
    font-style : normal;
    font-variant : normal;
    Font-family : georgia;
    Text-align : left;
}
#penulis
{
    font-family : "Georgia";
    font-weight : 500;
    font-size : medium;
    Text-align : center;
    Color : rgb(102 , 102 , 0);
    Margin-top : 0.5cm;
    Margin-bottom : 0.7cm;
}
#copyright
{
    color : blue;
    font-style : normal;
    font-size : small;
    Text-align : left;
    Text-indent : 1em;
    Font-variant : normal;
}
#subbab1
{
    color : #cc0066;
    font-size : large;
    Font-weight : normal;
}
#subbab2
{
    color : #663366;
    font-size : medium;
    font-style : italic;
    Font-weight : bold;
}
