#arabic
{
    Font-family : "Traditional Arabic";
    Font-weight : 400;
    Font-size : x-large;
    Color : maroon;
    Text-align : right;
	
}
#keterangan
{
    Font-family : georgia;
    Font-variant : small-caps;
    Font-size : small;
    Color : maroon;
    Text-indent : 0em;
    Background-color : rgb(255 , 255 , 204);
}
#singkatan
{
    Font-family : "AGA Arabesque";
    Font-variant : normal;
    Vertical-align : middle;
    Font-size : small;
}
#singkatan2
{
    Font-family : "Traditional Arabic";
    Font-variant : normal;
    Vertical-align : middle;
	Color : maroon;
	Text-align : right;
Font-size : medium;
}
#isi
{
    Font-variant : normal;
    Font-weight : bold;
    Font-size : medium;
    Color : rgb(0 , 51 , 0);
    Text-align : left;
    Margin-bottom : 0.5cm;
}
#header
{
    Text-indent : 0.5em;
}
#subjudul
{
    font-family : "Georgia";
    font-weight : 500;
    font-size : medium;
    Text-align : center;
    Font-style : italic;
    Color : green;
}
#judul
{
    Text-align : center;
    Background-repeat : no-repeat;
    Background-position : top left;
    Background-color : transparent;
    color : green;
    font-weight : 500;
    font-size : large;
}
body
{
    Background-image : url("body.gif");
    Background-repeat : repeat-y;
    Background-position : top left;
    Font-family : georgia;
}
#container
{
    padding : 0px 10px 0px 35px;
    font-style : normal;
    font-variant : normal;
    Text-align : left;
}
#penulis
{
    font-weight : 500;
    font-size : small;
    Text-align : center;
    Color : maroon;
    Background-image : url("books.gif");
    Background-position : center left;
    Background-repeat : no-repeat;
	Margin-top : 0.5cm;
	Margin-bottom : 0.7cm;
}
#copyright
{
    color : blue;
    font-style : normal;
    font-size : small;
    Text-align : left;
    Text-indent : 1em;
    Font-variant : normal;
}
#subbab1
{
    color : green;
    font-size : large;
    
}
#subbab2
{
    color : green;
    font-size : medium;
    font-style : italic;
}